<!DOCTYPE html>
<html lang="en" data-theme="night">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>

        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost sm:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </label>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/about">About</a></li>
                <li>
                    <details>
                        <summary>
                            Theme
                        </summary>
                        <ul class="p-2 bg-base-100">
                            <li><a href="/lego/sets?theme=technic">Technic</a></li>
                            <li><a href="/lego/sets?theme=classic town">Classic Town</a></li>
                            <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>

        <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a class="active" href="/about">About</a></li>
                <li>
                    <details>
                        <summary>Theme</summary>
                        <ul class="p-2 bg-base-100 right-0">
                            <li><a href="/lego/sets?theme=technic">Technic</a></li>
                            <li><a href="/lego/sets?theme=classic town">Classic Town</a></li>
                            <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>

    <br>

    <div class="container mx-auto">


        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center ">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>

                    <p class="py-6">Want to know more about Lego? <br>Or even better....<br> The student who built this!
                    </p>

                    <a href="/lego/sets" class="btn btn-primary">Get Started Now</a>
                </div>
            </div>
        </div>

        <br>

        <div class="grid grid-cols-2 gap-8 items-center">
            <div>
                <img class="rounded-lg w-full"
                    src="https://images.unsplash.com/photo-1703251041435-6c0da7ca6962?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="palm tree">
            </div>

            <div class="mx-auto">
                <p class="py-6 text-xl text-justify">Hola 🙋‍♂️, I am Rashaun. I love computers very much, also love
                    coding,
                    basketball and
                    PC Gaming. <br>Oh I also love good weather..hence why I have a image of a beach with lots of palm
                    trees
                    🌴.</p>
                <div class="flex justify-center">
                    <a href="https://www.shaun-bennett.com/" target="_blank"
                        class=" btn btn-primary btn-wide mx-auto">Coding Portfolio
                        💻</a>
                </div>
            </div>
        </div>


    </div>
</body>

</html>